:root {
  // 这里可以设置你自定义的颜色变量
  // 这个是element主要按钮:active的颜色，当主题更改后此变量的值也随之更改
  --el-color-primary: rgb(0, 81, 195);
  // --el-color-primary-dark: rgb(0, 81, 195);
  // element plus 2.1.0 禁用文本色值和正常文本色值无法区分问题
  --el-text-color-disabled: #ccc;
}

// Element UI theme
// Functional Color
$--color-primary: rgb(0, 81, 195);
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #8128D9;

// Font Color
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #C0C4CC;

// Border Color
$--border-color-base: #DCDFE6;
$--border-color-light: #E4E7ED;
$--border-color-lighter: #EBEEF5;
$--border-color-extra-light: #F2F6FC;

// Background Color
$--color-white: #FFFFFF;
$--color-black: #000000;
$--background-color-base: #F5F7FA;

// 覆盖 element-plus 的样式
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type='file'] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

// dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

// 选中行背景色值
.el-table__body tr.current-row td {
  background-color: #e1f3d8b5 !important;
}

// card 的header统一高度
.el-card__header {
  height: 60px !important;
}

// 表格表头和表体未对齐
.el-table__header col[name='gutter'] {
  display: table-cell !important;
}


